<!DOCTYPE HTML>
<!--
	Radius by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href= "{{ url_for('static',filename='templated-radius/assets/css/main.css') }}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<div class="content">
						<h1>{{title}}</h1>
						<h2>The loveliest apartment you've seen in a while</h2>
						<a href="#" class="button big alt"><span>Take a tour</span></a>
					</div>
					<a href="#" class="button hidden"><span>Take a tour</span></a>
				</div>
			</header>

		<!-- Main -->
			<div id="main">
				<div class="inner">
					<div class="columns">

						<!-- Column 1 (horizontal, vertical, horizontal, vertical) -->
						{% for url in torender[0] %}
					        <div class="image fit">
								<a href=""><img src="{{ url }}" alt="" /></a>
							</div>
					    {% endfor %}
							
						<!-- Column 2 (vertical, horizontal, vertical, horizontal) -->
						{% for url in torender[1] %}
					        <div class="image fit">
								<a href=""><img src="{{ url }}" alt="" /></a>
							</div>
					    {% endfor %}

						<!-- Column 3 (horizontal, vertical, horizontal, vertical) -->
						{% for url in torender[2] %}
					        <div class="image fit">
								<a href=""><img src="{{ url }}" alt="" /></a>
							</div>
					    {% endfor %}

						<!-- Column 4 (vertical, horizontal, vertical, horizontal) -->
						{% for url in torender[3] %}
					        <div class="image fit">
								<a href=""><img src="{{ url }}" alt="" /></a>
							</div>
					    {% endfor %}

					</div>
				</div>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<a href="#" class="info fa fa-info-circle"><span>About</span></a>
				<div class="inner">
					<div class="content">
						<h3>Vestibulum hendrerit tortor id gravida</h3>
						<p>In tempor porttitor nisl non elementum. Nulla ipsum ipsum, feugiat vitae vehicula vitae, imperdiet sed risus. Fusce sed dictum neque, id auctor felis. Praesent luctus sagittis viverra. Nulla erat nibh, fermentum quis enim ac, ultrices euismod augue. Proin ligula nibh, pretium at enim eget, tempor feugiat nulla.</p>
					</div>
					<div class="copyright">
						<h3>Follow me</h3>
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						</ul>
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script type="text/javascript" src= "{{ url_for('static',filename='templated-radius/assets/js/jquery.min.js') }}"></script>
			<script type="text/javascript" src= "{{ url_for('static',filename='templated-radius/assets/js/skel.min.js') }}"></script>
			<script type="text/javascript" src= "{{ url_for('static',filename='templated-radius/assets/js/util.js') }}"></script>
			<script type="text/javascript" src= "{{ url_for('static',filename='templated-radius/assets/js/main.js') }}"></script>

	</body>
</html>